{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add a post{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1 class="mt-5">Create a post</h1>
    <p class="lead">Fill in the boxes below and click submit to add a new post to Le Blog</p>

    <form method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="subtitle">Subtitle:</label><br>
        <input type="text" id="subtitle" name="subtitle"><br><br>
        <label for="category">Body:</label><br>
        <textarea name="body" rows="10" cols="60"></textarea><br>
            <label for="category">Category:</label><br>
        <input list="categories" name="category">
        <datalist id="categories">
            <option value="Python">
            <option value="Spam">
        </datalist><br><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}