{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1 class="mt-5">Welcome to Le Blog!</h1>
    <p class="lead">Check out these amazing posts below:</p>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for post in posts: %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
                    <p class="card-text">{{ post.body[0:100] }}</p>
                    <a href="post/{{ post.id }}" class="card-link">Read</a>
                    <div class="card-footer text-muted">
                        {{ post.category.name }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}